/*Estilo barra de navegación*/
.logo-nav{
    display: flex;
    align-content: flex-start;
    width: 7rem;
    height: 7rem;
}
.contenedor-header-nav{
    padding: 1%;
    background-color: #AE333D;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contenedor-nav{
    display: flex;
    flex-wrap: wrap;
    margin-top: 1%;
    column-gap: 2rem;
    font-family: 'inconsolata', monospace;
    color: black;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
}
.iconobuscar{
    background-color: antiquewhite;
    border-radius: 80px;
    margin-top: 1%;
    width: 2cap;
    padding: 10px 10px;
}
.iconouser{
    background-color: antiquewhite;
    border-radius: 80px;
    margin-top: 1%;
    width: 2cap;
    padding: 10px 10px;
}
.headercm{
    display: flex;
    column-gap: 1rem;
    width: 70%;
    height: 100%;
    margin-top: 1%;
}
body{
        background-color:rgb(18, 5, 0) !important;
    }

    /*Estilo de textos*/
.titulo{
    font-family: 'Inconsolata', monospace;
    font-size: 1rem;
    font-weight: 100;
    color:whitesmoke ;
    font-size: larger;
}
.peliculas{
    padding: 1%;
    font-family: 'Inconsolata', monospace;
    font-weight: 20%;
    color:whitesmoke 
}
.series{
    padding: 1%;
    font-family: 'Inconsolata', monospace;
    font-weight: 20%;
    color:whitesmoke 
}
.documentales{
    padding: 1%;
    font-family: 'Inconsolata', monospace;
    font-weight: 20%;
    color:whitesmoke
}
/*Estilo formulario y footer*/
.formulario{
    padding:1%;
    font-family: 'Inconsolata', monospace;
    color: whitesmoke;
}
footer{
    padding: 1%;
    font-family: 'Inconsolata', monospace;
    background-color: #AE333D;
}

/*Estilo para pantallas pequeñas, celular en modo vertical*/

@media (max-width: 320px){
    body{
        flex-direction:column;
        height: 120px;
        font-size: 15px;
    }
    .headercm{
        width: 60%;
    }
}
/*Estilo para tabletas en modo horizontal, pantallas de notebook, netbook y pc de escritorio*/
@media (max-width: 1024px){
    body{
        flex-direction: row;
        font-size: 30px;
        flex-wrap: nowrap;
    }
    .contenedor-header-nav{
        column-gap: 2rem;
        padding-right: 5%;
    }
}